@{
    ViewBag.Title = "Home Page";
}

<h2>Flat UI with Bootstrap = Awesomeness !</h2>

@Html.Partial("Buttons")
@Html.Partial("Menus")
@Html.Partial("Input")
@Html.Partial("ProgressBars")
@Html.Partial("NavigationBars")
@Html.Partial("Icons")
@Html.Partial("WantMore")